.main-visual .visual__list {
  width: 100%;
  height: 100vh;
}
.main-visual .visual__list ul li {
  height: 100vh;
  background-size: cover;
  background-position: 50%;
}
.main-visual .visual__list ul li.visual01 {
  background-image: url("../images/main/visual01.jpg");
}
.main-visual .visual__list ul li.visual02 {
  background-image: url("../images/main/visual02.jpg");
}
.main-visual .visual__list ul li.visual03 {
  background-image: url("../images/main/visual03.jpg");
}
.main-visual .visual__list ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-visual .visual__list .pagination {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.main-visual .visual__list .pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: 12px;
  background-color: #fff;
}
.main-visual .visual__list .pagination .swiper-pagination-bullet-active {
  background-color: rgb(4, 63, 189);
}
.main-visual .red {
  width: 100px;
  height: 10px;
  background-color: rgb(219, 26, 26);
  position: absolute;
  top: 45%;
  left: 200px;
}
.main-visual__txt {
  position: absolute;
  top: 50%;
  left: 200px;
  color: #fff;
  z-index: 2;
}
.main-visual__txt .word {
  overflow: hidden;
}
.main-visual__txt--main {
  font-weight: 900;
  font-size: clamp(36px, 5vw, 64px);
  line-height: 1.2;
}

/******** main-visual end ***********/
.business {
  padding: 20px;
  margin: 20px auto;
}
.business h2 {
  font-size: clamp(32px, 5vw, 48px);
  font-weight: 900;
  padding: 10px;
  margin-top: 30px;
}
.business p {
  font-size: clamp(14px, 3.5vw, 20px);
  font-weight: 400;
  padding: 10px;
}
.business__txt--main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.business__txt--main__sub {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.business__txt .red {
  margin: 0 auto;
  width: 50px;
  height: 5px;
  background-color: rgb(219, 26, 26);
  margin: 20px auto;
}
.business .business_list {
  padding-bottom: 133px;
}
.business .business_list a .icon,
.business .business_list .slick-arrow {
  display: inline-block;
  background: url(../images/main/bg_common.png) no-repeat;
  vertical-align: middle;
  font-size: 0;
  text-indent: -99999px;
  z-index: 97;
}
.business .business_list .btn_area {
  display: table;
  width: 1200px;
  margin: 70px auto 0;
}
.business .business_list .btn_area li {
  display: table-cell;
}
.business .business_list .btn_area li a {
  position: relative;
  display: inline-block;
  transition: all 0.2s linear;
}
.business .business_list .btn_area li a .text {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding-top: 98px;
}
.business .business_list .btn_area li a .img_area {
  width: 240px;
  height: 420px;
  background: url(../images/main/img_business.png) no-repeat;
}
.business .business_list .btn_area li .list1 a .img_area {
  background-position: 0 0px;
}
.business .business_list .btn_area li .list2 a .img_area {
  background-position: -240px 0px;
}
.business .business_list .btn_area li .list3 a .img_area {
  background-position: -480px 0px;
}
.business .business_list .btn_area li .list4 a .img_area {
  background-position: -720px 0px;
}
.business .business_list .btn_area li .list5 a .img_area {
  background-position: -960px 0px;
}
.business .business_list .btn_area li a .hover_area {
  width: 240px;
  height: 420px;
  position: absolute;
  left: 0px;
  top: 0;
  opacity: 0;
  cursor: default;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.business .business_list .btn_area li a:hover .hover_area {
  opacity: 1;
  background: #f48025;
  text-align: center;
  cursor: pointer;
}
.business .business_list .btn_area li .list1 a:hover .hover_area .icon {
  margin-top: 80px;
  width: 123px;
  height: 112px;
  background-position: -168px 0px;
}
.business .business_list .btn_area li .list2 a:hover .hover_area .icon {
  margin-top: 80px;
  width: 123px;
  height: 112px;
  background-position: -301px 0px;
}
.business .business_list .btn_area li .list3 a:hover .hover_area .icon {
  margin-top: 80px;
  width: 130px;
  height: 106px;
  background-position: 0px -122px;
}
.business .business_list .btn_area li .list4 a:hover .hover_area .icon {
  margin-top: 80px;
  width: 130px;
  height: 111px;
  background-position: -140px -122px;
}
.business .business_list .btn_area li .list5 a:hover .hover_area .icon {
  margin-top: 80px;
  width: 103px;
  height: 103px;
  background-position: -280px -122px;
}

/********** business end **************/
.news {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.news h2 {
  font-size: clamp(32px, 5vw, 48px);
  font-weight: 900;
  margin-bottom: 30px;
}
.news a {
  font-size: clamp(12px, 3vw, 18px);
  font-weight: 400;
  margin: 5px 0;
}
.news .newsTxt {
  position: absolute;
  color: #fff;
  padding: 100px 50px;
}
.news .newsTxt ul {
  margin-top: 30px;
}
.news .newsTxt ul li {
  display: flex;
  justify-content: space-between;
  line-height: 2.5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2.5;
}
.news .newsTxt ul li .verArrow {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .newsTxt ul li .verArrow .vertical {
  margin: 0 15px;
}
.news .newsTxt ul li .verArrow .arrow {
  margin-right: 15px;
}
.news .news1 {
  background-color: gray;
  width: 50%;
  height: 500px;
  position: relative;
}
.news .news1_txt {
  width: 90%;
}
.news .news2 {
  background-color: rgb(219, 26, 26);
  width: 50%;
  height: 500px;
  position: relative;
}
.news .news2_txt {
  width: 90%;
}

/********** news end **************/
.inquiry {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px auto;
  background-color: antiquewhite;
}
.inquiry h2 {
  font-size: clamp(32px, 5vw, 48px);
  font-weight: 900;
  margin-bottom: 10px;
}
.inquiry p {
  font-size: clamp(14px, 3.5vw, 20px);
  font-weight: 400;
}
.inquiry .inside01 {
  width: 40%;
  height: 200px;
  background-color: #fff;
}
.inquiry .inside02 {
  width: 40%;
  height: 200px;
  background-color: #fff;
}
.inquiry .inquiry_inside {
  display: flex;
  margin: 0 5px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.inquiry .inquiry_inside_txt {
  word-break: keep-all;
}

/********** inquiry end ***********/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 1.4;
  margin-bottom: 100px;
}
.about h2 {
  font-size: clamp(24px, 4vw, 36px);
  font-weight: 700;
}
.about h3 {
  font-size: clamp(18px, 3.5vw, 24px);
  font-weight: 700;
  margin-bottom: 10px;
}
.about p {
  font-size: clamp(12px, 3vw, 16px);
  font-weight: 400;
  word-break: keep-all;
}
.about_txt {
  width: 20%;
  margin-left: 200px;
}
.about_txt_under {
  display: flex;
  margin: 10px 0;
}
.about_txt_under .red {
  margin-top: 20px;
  margin-right: 40px;
  width: 80px;
  height: 5px;
  background-color: rgb(219, 26, 26);
}
.about_img {
  width: 40%;
  margin-left: 100px;
}

/********** about end ***********/
.manage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.manage h3 {
  font-size: clamp(18px, 3.5vw, 24px);
  font-weight: 700;
  margin-bottom: 10px;
}
.manage p {
  font-size: clamp(12px, 3vw, 16px);
  font-weight: 400;
  word-break: keep-all;
}
.manage .manage_img {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.manage .manage_img img {
  display: block;
  margin: 30px 150px;
}

/********** manage end ***********/