@mixin longShadow($limit: 30, $color: rgba(0, 0, 0, 1)) {
  //1px 1px
  $shadow: "";
  @for $i from 1 to $limit {
    $shadow: $shadow + $i + "px " + $i + "px 0px " + $color + ",";
  }
  $shadow: $shadow + $limit + "px " + $limit + "px 0px " + $color;
  $shadow: unquote($shadow);
  text-shadow: $shadow;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icon($code, $margin: 10px) {
  display: inline-block;
  content: $code;
  margin-left: $margin;
  font-family: "Material Icons";
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 여러 줄 엘립시스
@mixin multiEllipsis($line: 2, $lineHeight: 1.5) {
  // line : 몇 줄을 기본으로 하겠다
  display: -webkit-box;
  line-height: $lineHeight;
  height: $lineHeight * $line * 1em; // em은 글자 하나의 높이
  overflow: hidden;
  -webkit-line-clamp: $line; // 몇 줄 단위를 기본으로 줄 바꿈을 하겠느냐
  -webkit-box-orient: vertical;
  word-break: break-all;
  box-sizing: content-box;
}
