@import "vars";
@import "mixins";

.main-visual {
  overflow: hidden;
  width: 100%;

  .red {
    width: 100px;
    height: 10px;
    background-color: $red;
  }
  ul {
    li {
      height: 100vh;
      background-size: cover;
      background-position: 50%;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  &--visual01 {
    background-image: url("../images/main/visual01.jpg");
  }
  &--visual02 {
    background-image: url("../images/main/visual02.jpg");
  }
  &--visual03 {
    background-image: url("../images/main/visual03.jpg");
  }
  &__txt {
    position: absolute;
    top: 50%;
    left: 200px;
    color: #fff;
    z-index: 2;
    .word {
      overflow: hidden;
    }
    &--main {
      font-weight: 900;
      font-size: clamp(36px, 5vw, 64px);
      line-height: 1.2;
    }
    &--sub {
      font-size: 24px;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    width: 20%;
  }
  .pagination {
    width: 40%;
    position: absolute;
    bottom: 50px;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-box {
      width: auto;
    }
    .swiper-pagination-bullet {
      opacity: 1;
      width: 30px;
      height: 30px;
      background: none;
      border: 3px solid #fff;
      border-radius: 100px;
      transition: all 0.25s ease;
      &-active {
        background-color: #fff;
        width: 120px;
      }
    }
    .btn {
      width: 30px;
      height: 30px;
      border: 3px solid #fff;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &.off:before {
        content: "\e037";
      }
      &:before {
        content: "\e034";
        font-family: "Material Icons";
        color: #fff;
        font-size: 20px;
      }
    }
  }
}

/******** main-visual end ***********/

.business {
  padding: 20px;
  margin: 20px auto;
  h2 {
    font-size: clamp(32px, 5vw, 48px);
    font-weight: 900;
    padding: 10px;
    margin-top: 30px;
  }

  p {
    font-size: clamp(14px, 3.5vw, 20px);
    font-weight: 400;
    padding: 10px;
  }
  &__txt {
    &--main {
      @include center();
    }

    &--main__sub {
      @include center();
      text-align: center;
    }
    .red {
      margin: 0 auto;
      width: 50px;
      height: 5px;
      background-color: $red;
      margin: 20px auto;
    }
  }

  .business_list {
    padding-bottom: 133px;

    a .icon,
    .slick-arrow {
      display: inline-block;
      background: url(../images/main/bg_common.png) no-repeat;
      vertical-align: middle;
      font-size: 0;
      text-indent: -99999px;
      z-index: 97;
    }

    .btn_area {
      display: table;
      width: 1200px;
      margin: 70px auto 0;
      li {
        display: table-cell;
        a {
          position: relative;
          display: inline-block;
          transition: all 0.2s linear;
          .text {
            text-align: center;
            color: #fff;
            font-size: 24px;
            padding-top: 98px;
          }
          .img_area {
            width: 240px;
            height: 420px;
            background: url(../images/main/img_business.png) no-repeat;
          }
        }

        .list1 a .img_area {
          background-position: 0 0px;
        }

        .list2 a .img_area {
          background-position: -240px 0px;
        }

        .list3 a .img_area {
          background-position: -480px 0px;
        }

        .list4 a .img_area {
          background-position: -720px 0px;
        }

        .list5 a .img_area {
          background-position: -960px 0px;
        }

        a .hover_area {
          width: 240px;
          height: 420px;
          position: absolute;
          left: 0px;
          top: 0;
          opacity: 0;
          cursor: default;
          -webkit-transition: opacity 0.2s linear;
          transition: opacity 0.2s linear;
        }

        a:hover .hover_area {
          opacity: 1;
          background: #f48025;
          text-align: center;
          cursor: pointer;
        }

        .list1 a:hover .hover_area .icon {
          margin-top: 80px;
          width: 123px;
          height: 112px;
          background-position: -168px 0px;
        }

        .list2 a:hover .hover_area .icon {
          margin-top: 80px;
          width: 123px;
          height: 112px;
          background-position: -301px 0px;
        }

        .list3 a:hover .hover_area .icon {
          margin-top: 80px;
          width: 130px;
          height: 106px;
          background-position: 0px -122px;
        }

        .list4 a:hover .hover_area .icon {
          margin-top: 80px;
          width: 130px;
          height: 111px;
          background-position: -140px -122px;
        }

        .list5 a:hover .hover_area .icon {
          margin-top: 80px;
          width: 103px;
          height: 103px;
          background-position: -280px -122px;
        }
      }
    }
  }
}
/********** business end **************/

.news {
  @include center();
  width: 100%;
  margin: 0 auto;

  h2 {
    font-size: clamp(32px, 5vw, 48px);
    font-weight: 900;
  }

  a {
    font-size: clamp(12px, 3vw, 18px);
    font-weight: 400;
    margin: 5px 0;
  }

  .newsTxt {
    position: absolute;
    color: #fff;
    padding: 100px 50px;
    margin: 0 50px;

    ul {
      margin-top: 30px;
      li {
        display: flex;
        justify-content: space-between;
        line-height: 2.5;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 2.5;
        .verArrow {
          vertical-align: middle;
          @include center();
          .vertical {
            margin: 0 15px;
          }
          .arrow {
            margin-right: 15px;
          }
        }
      }
    }
  }

  .news1 {
    background-color: gray;
    width: 50%;
    height: 500px;
    position: relative;

    &_txt {
      width: 90%;
    }
  }

  .news2 {
    background-color: $red;
    width: 50%;
    height: 500px;
    position: relative;

    &_txt {
      width: 90%;
    }
  }
}
/********** news end **************/

.inquiry {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px auto;
  background-color: antiquewhite;

  h2 {
    font-size: clamp(32px, 5vw, 48px);
    font-weight: 900;
    margin-bottom: 10px;
  }

  p {
    font-size: clamp(14px, 3.5vw, 20px);
    font-weight: 400;
  }

  .inside01 {
    //background-color: blue;
    width: 40%;
    height: 200px;
    background-color: #fff;
  }
  .inside02 {
    //background-color: red;
    width: 40%;
    height: 200px;
    background-color: #fff;
  }

  .inquiry_inside {
    display: flex;
    margin: 0 5px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    &_txt {
      word-break: keep-all;
    }
  }
}
/********** inquiry end ***********/

.about {
  @include center();
  width: 100%;
  line-height: 1.4;
  margin-bottom: 100px;

  h2 {
    font-size: clamp(24px, 4vw, 36px);
    font-weight: 700;
  }

  h3 {
    font-size: clamp(18px, 3.5vw, 24px);
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: clamp(12px, 3vw, 16px);
    font-weight: 400;
    word-break: keep-all;
  }

  &_txt {
    width: 20%;
    margin-left: 200px;

    &_under {
      display: flex;
      margin: 10px 0;

      .red {
        margin-top: 20px;
        margin-right: 40px;
        width: 80px;
        height: 5px;
        background-color: $red;
      }
    }
  }

  &_img {
    width: 40%;
    margin-left: 100px;
  }
}
/********** about end ***********/

.manage {
  @include center();
  margin-bottom: 50px;

  h3 {
    font-size: clamp(18px, 3.5vw, 24px);
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: clamp(12px, 3vw, 16px);
    font-weight: 400;
    word-break: keep-all;
  }

  .manage_img {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      display: block;
      margin: 30px 150px;
    }
  }
}
/********** manage end ***********/
